- contentName = "STEP 1 : Stop Watch"
doctype html
html(lang="ja")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0")
		meta(name="description" content=contentName)
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		title !{contentName}
	body
		.container
			.display(data-display) 0
			.button
				button.button__body(type="button" data-start) start
		.console
			h2.console__title log
			.console__log(data-history)
				p.console__body(data-history-now)